.work-container{
    width: 100%;
}

.work-button{
    border: 2px solid #31304D;
    margin: 1vh 0;
    max-width: 960px;
}

.module-img{
    width: 500px;
}
@media only screen and (max-width: 600px) {
    .module-img{
        width: 350px;
    }
  }

.work-container a{
    color: #B6BBC4;
    display: block;
    display: block;
}

.work-written-section{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: left;
}

.textSection{
    max-width: 960px;
}

.work-container p{
    color: #F0ECE5;
}

.work-subheader{
    font-weight: bold;
}

.imageHeader{
    color: #F0ECE5;
}

/* PROGRAM PROJECT download button */
.resume-download{
    justify-content: center;
    align-items: center;
    font-size: large;
    color: #F0ECE5;
    text-decoration: none;
    background-color: #31304D;
    padding: 2vh 2vw;
    border-radius: 6px;
}

.youtube-link{
    padding: 5vh 8vw;
    border-color: #B6BBC4;
}