.login-container{
    width: 350px;
}

.login-header{
    color: #F0ECE5;
    font-weight: bold;
}

.login-state{
    text-align: center;
    padding: 1.5vh;
    background-color: #B54C4C;
    color: #F0ECE5;
}

.login-close-icon{
    display: inline-block;
    position: absolute;
}

.login-form{
    width: 100%;
    display: block;
    margin: auto;
}

.login-label{
    display:flex;
    color: #F0ECE5;
    font-weight: bold;
    float: left;
}

.login-input{
    background-color: #31304D;
    color: #F0ECE5;
    padding:1vh 0.5vw;
    margin-bottom: 2vh;
    border-radius: 6px;
    border: none;
    width:100%;
}

.login-input:focus{
    outline: none;
}

.login-button{
    font-weight: bold;
    color: #31304D;
    background-color: #F0ECE5;
    border-radius: 6px;
    border: none;
    width:100%;
    display: block;
    margin-bottom: 10vh;
}

.login-button:hover{
    background-color: #B6BBC4;
}



/* table */
.contact-header{
    color: #F0ECE5;
    font-weight: bold;
}

.contact-sheet{
    color: #F0ECE5;
    overflow: scroll;
}

table {
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #F0ECE5;
    text-align: left;
    padding: 8px;
    width: 300px;
}